<img src="imagens/md-logo.jpg" width="96" height="96" align="left"/>

# Python para Data Science

<font color=blue><b> Bootcamp Minerando Dados</b></font><br>
 www.minerandodados.com.br

**Evite a maldição**

In [2]:
print("Hello World!")

Hello World!

**Console interativo**

In [3]:
"Hello World"

'Hello World'

In [4]:
2+2

4

**Trabalhando com variáveis**

In [6]:
nome = "Minerando Dados"

- Atribuição de flexível

In [7]:
a,b,c = 5,10,15

In [8]:
a,b,c

(5, 10, 15)

**Funções Built-in**

- type() – Retorna o tipo do objeto

In [9]:
type(5)

int

In [10]:
type(5.1)

float

In [11]:
type("Python é uma maldição!")

str

**Funções de Conversão**

- int() - Converte um valor passado por parâmetro para inteiro

In [12]:
int(3.14)

3

- float() - Converte um valor passado por parâmetro para float

In [13]:
float(6.5)

6.5

- str() -  Converte um valor passado por parâmetro para string

In [14]:
str(5)

'5'

- list() - Converte um valor passado por parâmetro para uma lista

In [15]:
list('abc')

['a', 'b', 'c']

** Funções de arredondamento **

- round() – Arredonda o valor

In [16]:
round(2.898)

3

- Especificando três casas após a virgula

In [17]:
round(2.4545455,3)

2.455

### Trabalhando com Strings ###

In [18]:
frase = "A maldição do Python"
frase

'A maldição do Python'

** Vector de caracteres, índices inicializam em 0**

**Slicing**

In [19]:
frase[0]

'A'

In [20]:
frase[0:10]

'A maldição'

In [21]:
frase[14:]

'Python'

**Métodos**

lower() – converte a string para minúsculo

In [22]:
frase.lower()

'a maldição do python'

upper() – converte a string para maiúsculo

In [23]:
frase.upper()

'A MALDIÇÃO DO PYTHON'

capitalize() – converte para apenas o primeiro caractere maiúsculo

In [24]:
frase.capitalize()

'A maldição do python'

islower() – retorna True caso todos os caracteres da string são minúsculos

In [25]:
frase.islower()

False

split() – “quebra”a string em uma lista de caracteres

In [26]:
frase.split()

['A', 'maldição', 'do', 'Python']

### Estruturas de Dados - Listas ###

** Sintaxe: nome = [valores] **

In [27]:
idades = [25,38,18,47]
endereco = ['Belo Horizonte',2500]

- Acessando elementos

In [28]:
rua  = endereco[0]
numero  = endereco[1]
print(rua,numero)

Belo Horizonte 2500

- Atualizando elementos

In [29]:
endereco[1] = 2750
numero  = endereco[1]
print(rua,numero)

Belo Horizonte 2750

- Operações com Listas

In [30]:
nomes = ['Felipe','Joao','Maria']

- Contando elementos

In [31]:
len(nomes)

3

- Verificando elementos

In [32]:
'Felipe' in nomes

True

- Valores máximo e mínimo

In [33]:
max(nomes)

'Maria'

In [34]:
min(nomes)

'Felipe'

- Concatenando listas

In [35]:
nomes = nomes + ['Jose','Carla']

In [36]:
print(nomes)

['Felipe', 'Joao', 'Maria', 'Jose', 'Carla']

- Adiciona novos elementos

In [37]:
nomes.append('Marcelo')

- Índice de um determinado elemento

In [38]:
nomes.index('Joao')

1

- Removendo um elemento

In [39]:
nomes.remove('Marcelo')

- Contando elementos

In [40]:
nomes.count('Joao')

1

- Ordenando elementos

In [42]:
nomes.sort()

In [43]:
print(nomes)

['Carla', 'Felipe', 'Joao', 'Jose', 'Maria']

### Estruturas de Dados - Dicionários ###

- Objeto do tipo Chave e Valor
- Sintaxe: nome = {'chave':'valor'}

In [44]:
pessoas = {
'Felipe':30, 'Marcela':18, 'Maria':55, 'Jose':80, 
'valores':[1,3.5,400,5,6],
'pesos':{'Felipe':65,'Marcela':80}
}

- Acessando o valor a partir de uma chave

In [45]:
pessoas['Jose']

80

**Métodos**

- keys() – Retorna as chaves do dicionário

In [46]:
pessoas.keys()

dict_keys(['Felipe', 'Marcela', 'Maria', 'Jose', 'valores', 'pesos'])

- values() - Retorna os valores do dicionário

In [47]:
pessoas.values()

dict_values([30, 18, 55, 80, [1, 3.5, 400, 5, 6], {'Felipe': 65, 'Marcela': 80}])

- get() – Retorna o valor de uma determinada chave senão existir retorna o valor passado como parâmetro

In [48]:
pessoas.get('Juca','Não existe')

'Não existe'

- setdefault() - Retorna o valor da chave caso ela exista, senão inseri a chave e o valor no dicionário

In [49]:
pessoas.setdefault('Marcos',30)

30

- items() – Retorna itens e valores

In [50]:
pessoas.items()

dict_items([('Felipe', 30), ('Marcela', 18), ('Maria', 55), ('Jose', 80), ('valores', [1, 3.5, 400, 5, 6]), ('pesos', {'Felipe': 65, 'Marcela': 80}), ('Marcos', 30)])

- clear() – Limpa o objetivo dicionário

In [51]:
pessoas.clear()

### Estruturas Condicionais e Loops ###

**Controles de fluxo**

**Sintaxe**<br>
**if <condição>:** 
>**instruções**

In [52]:
if 10 > 1:
    print('O numero 10 é maior que 1')

O numero 10 é maior que 1

**Sintaxe**<br>
**if <condição>:** 
>**instruções**

**else:**
>**instruções**

In [53]:
x=10
y=1
if x > y:
    print("O numero em X é maior que Y")
else:
    print('O numero em Y é maior que X')

O numero em X é maior que Y

**Trabalhando com loops FOR**

** Sintaxe: for <variável> in <condição>: instruções **

- Loop em elementos de uma lista

In [54]:
for i in [1,2,3,4,5]:
    print ("Valor: %s" %i)
    print (i + 2)

Valor: 1
3
Valor: 2
4
Valor: 3
5
Valor: 4
6
Valor: 5
7

- Loop em elementos de uma string

In [55]:
for c in "Python é uma linguagem de programação":
    print (c)

P
y
t
h
o
n

é

u
m
a

l
i
n
g
u
a
g
e
m

d
e

p
r
o
g
r
a
m
a
ç
ã
o

**Loops FOR aninhados**

**Sintaxe**<br>
**for <variável> in <condição>:** 
>**instruções**<br>
>**for <variável> in <condição>:**
>>**instruções**

In [56]:
for i in ['1a Fase','2a Fase','3a Fase']:
    print (i)
    for y in ['manha','tarde','noite']:
        print (y)
    print(' ')

1a Fase
manha
tarde
noite

2a Fase
manha
tarde
noite

3a Fase
manha
tarde
noite

**Instrução Break**

**Sintaxe**<br>
**for <variável> in <condição>:**
>**instruções**<br>
>**break**

In [57]:
for letra in 'Python':
    if letra == 'o':
        break
    print ('Letra :', letra)

Letra : P
Letra : y
Letra : t
Letra : h

**Instrução Continue**

**Sintaxe**<br>
**for <variável> in <condição>:**
>**instruções**<br>
>**continue**

In [58]:
for letra in 'Python':
   if letra == 'y':
      continue
   print ('Letra :', letra)

Letra : P
Letra : t
Letra : h
Letra : o
Letra : n

**Loops com While**

**Sintaxe**<br>
**while <condição>: **
>**instruções**

In [59]:
i = 0
while i < 10:
    print (i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

**Loops while com instrução else**

**Sintaxe**<br>
**while <condição>:**
>**instruções**

**else:**
>**instruções**

In [60]:
i = 0
while i < 10:
    print (i)
    i = i + 1
else:
    print("Numero é maior ou igual a 10")

0
1
2
3
4
5
6
7
8
9
Numero é maior ou igual a 10